.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
input {
  width: 25%;
  height: 25px;
  padding: 4px;
  color: rgb(22, 21, 21);
  font-size: larger;
  border-radius: 4px;
}
button {
  padding: 4px;
  height: 35px;
  width: 100px;
  border-radius: 4px;
  background-color: rgb(238, 195, 131);
}
button:hover {
  background-color: blanchedalmond;
}
